/* MENU - toolbar */
.toolbar {
	position: fixed;
	top: 250px;
	left: -100px;
	-webkit-transition: left 1s;
    transition: left 1s;
    z-index:1000;
}

.toolbar:hover {
	left: -5px;
	z-index:1000;
}

.toolbar button {
	text-align: right;
	width: 140px !important;
}

.toolbar span.fa {
	margin-left: 15px;
}

.toolbar span.icon-af {
	margin-left: 15px;
}


.toolbar .btn {
	-webkit-transition: width 0.5s;
    transition: width 0.5s;
    width:100%;
}

.toolbar .btn:hover {
	width: 110%;
	max-width:110%;
	opacity:1 !important;
	color: black;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 20px;
	margin-bottom: -90px;
	/* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar-wrapper .navbar {
	
}

.parent-page {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
	border: 0;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
	padding: 14px 20px 16px;
	/* Increase vertical padding to match navbar links */
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav>li>a {
	padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
	margin-top: 10px;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 60px;
}

.carousel .container {
	position: relative;
}

.carousel-control {
	height: auto;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background-color: transparent;
	border: 0;
}

.carousel .item {
	height: 500px;
}

.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
}

.home-title {
	background-color: transparent;
  	position: relative;
  	text-align: center;
}

/* MARKETING CONTENT
    -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .span4 p {
	margin-left: 10px;
	margin-right: 10px;
}

/* Featurettes
    ------------------------- */
.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.featurette {
	padding-top: 120px;
	/* Vertically center images part 1: add padding above and below text. */
	overflow: hidden;
	/* Vertically center images part 2: clear their floats. */
}

.featurette-image {
	margin-top: -120px;
	/* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
	margin-right: 40px;
}

.featurette-image.pull-right {
	margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

/* RESPONSIVE CSS
    -------------------------------------------------- */
@media ( max-width : 979px) {
	.container.navbar-wrapper {
		margin-bottom: 0;
		width: auto;
	}
	.navbar-inner {
		border-radius: 0;
		margin: -20px 0;
	}
	.carousel .item {
		height: 500px;
	}
	.featurette {
		height: auto;
		padding: 0;
	}
	.featurette-image.pull-left, .featurette-image.pull-right {
		display: block;
		float: none;
		max-width: 40%;
		margin: 0 auto 20px;
	}
}

@media ( max-width : 767px) {
	.navbar-inner {
		margin: -20px;
	}
	.carousel {
		margin-left: -20px;
		margin-right: -20px;
	}
	.carousel .container {
		
	}
	.carousel .item {
		height: 300px;
	}
}

.panel-info {
	margin-bottom: 60px;
	width: 400px;
	height: 400px;
}

.image {
	margin: 0px;
	min-width: 100%;
/* 	min-height: 500px; */
	height: 100%;
}

.noMargin {
	margin: 0px !important;
	padding: 0px !important;
}

.margin-top-15 {
	margin-top: 15px;
}

/* SKROLL */
* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

.skrollr-desktop body {
	height: 100% !important;
}

body {
	font-family: sans-serif;
}

p {
	margin: 1em 0;
}

.parallax-image-wrapper {
	position: fixed;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.parallax-image-wrapper-50 {
	height: 50%;
	top: -50%;
}

.parallax-image-wrapper-100 {
	height: 100%;
	top: -100%;
}

.parallax-image {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.parallax-image-50 {
	height: 200%;
	top: -50%;
}

.parallax-image-100 {
	height: 100%;
	top: 0;
}

.parallax-image.skrollable-between {
	display: block;
}

.no-skrollr .parallax-image-wrapper {
	display: none !important;
}

#skrollr-body {
	height: 100%;
	overflow: visible;
	position: relative;
}

.gap {
	background: transparent center no-repeat;
	background-size: cover;
}

.skrollr .gap {
	background: transparent !important;
}

.gap-50 {
	height: 50%;
}

.gap-100 {
	height: 100%;
}

.header, .content {
	background: #fff;
	padding: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content-full {
	height: 100%;
}

#done {
	height: 100%;
}

.resume-img1 {
	background-image: url(../img/FOND_MAFATE.jpg) !important;
}

.resume-img2 {
	background-image: url(../img/FOND_ARRIEGE.jpg) !important;
}

.resume-img3 {
	background-image: url(../img/FOND_AMSTERDAM_LAC.JPG) !important;
}

.margin-topm5percent {
	margin-top: -5%;
}

.margin-top2percent {
	margin-top: 2%;
}

/* EXPERIENCE PRO PAGE */
.experience-content {
	height: 200%;
}

.box {
	position: absolute;
	left: 0;
	height: 100%;
	background: #09f;
}

p {margin:1em 0;}

.experience-div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent center no-repeat;
	background-size: cover;
}

.img-apside {
	margin: 10px 0px 0px 0%;
}

.img-af {
	margin: 10px 0px 0px 0%;
}

.img-thales {
	margin: 20px 0px 0px 0%;
}

.img-orange {
	margin: 25px 0px 0px 0%;
}

.img-alzheimer {
	margin: 25px 0px 0px 0%;
}

.color-grey-lighter {
	color: #E7E7E7;
}

/* FOOTER */
.footer-ben {
	margin-top: -4%;
  	background-color: white;
}
