<button type="submit" class="btn-remove-all-fifaCup" ng-show="begin"
		ng-click="cleanCup()"><i class="fa fa-trash-o"></i></button>
<div class="col-xs-12 fond-fifa slide" skrollr resize>
	<div class="col-xs-12 add-player-css margin-bottom10" ng-show="!begin">
		<form name="fifaForm" class="form-inline">
			<div class="form-group">
				<label class="color-white" for="exampleInputName2">Joueur</label> 
				<input type="text" class="form-control" id="exampleInputName2" placeholder="Messi" 
					   ng-required="true" ng-minlength="3" ng-model="newPlayer">
			</div>
			<button type="submit" class="btn btn-default" ng-click="addPlayer()" ng-disabled="!fifaForm.$valid">Ajouter</button>
			<button type="submit" ng-show="players.length > 1" class="btn btn-danger" ng-click="startGame()">Commencer</button>
		</form>
	</div>
	<div class="col-xs-12 margin-top15" ng-show="begin">
		<form name="addScoreForm" class="panel panel-default col-xs-12 fond-pelouse">
			<div class="col-xs-12 text-center margin-top10 margin-bottom10">
				<ui-select class="col-xs-4" ng-model="newScore.j1" theme="bootstrap" reset-search-input="false" ng-required="true">
					<ui-select-match placeholder="{{playerPlaceholder}} 1" ng-init="" allow-clear="true">
						{{$select.selected.nom}}
						<div ng-if="!$select.selected.nom">{{playerPlaceholder + ' 1'}}</div>
					</ui-select-match>
					<ui-select-choices repeat="p in playersCandidates1">{{p.nom}}</ui-select-choices>
				</ui-select>
				<ui-select class="col-xs-4" ng-model="newScore.j2" theme="bootstrap" 
						   reset-search-input="false" ng-required="true">
					<ui-select-match placeholder="{{playerPlaceholder}} 2" allow-clear="true">
						{{$select.selected.nom}}
						<div ng-if="!$select.selected.nom">{{playerPlaceholder + ' 2'}}</div>
					</ui-select-match>
					<ui-select-choices repeat="p in playersCandidates2">{{p.nom}}</ui-select-choices>
				</ui-select>
				<label>Score</label> 
				<input type="number" class="form-control width-10percent display-inline-block" 
					   ng-required="true" min="0" ng-model="newScore.butJ1">
				<label>-</label> 
				<input type="number" class="form-control width-10percent display-inline-block" 
					   ng-required="true" min="0" ng-model="newScore.butJ2">
			</div>
			<div class="col-xs-12 text-right margin-top10 margin-bottom10">
				<button type="submit" class="btn btn-default col-xs-2 pull-right" 
						ng-click="saveScore()" ng-disabled="!addScoreForm.$valid">Ajouter</button>
			</div>
		</form>
	</div>
	<div class="col-xs-12">
		<div class="panel panel-warning border-none" style="max-height: 350px;overflow: scroll;">
			<!-- Default panel contents -->
			<div class="panel-fifa-header">Tableau des scores</div>
	
			<!-- Table -->
			<table class="table">
				<thead>
					<tr>
						<th style="width: 45%;">Nom</th>
						<th style="width: 10%;">Points</th>
						<th style="width: 10%;">Gagné</th>
						<th style="width: 10%;">Perdu</th>
						<th style="width: 10%;">Nul</th>
						<th style="width: 5%;">p.</th>
						<th style="width: 5%;">c.</th>
						<th style="width: 5%;">Diff.</th>
					</tr>
				</thead>
				<tbody ng-repeat="p in players | orderBy: ['-points','-butsMoyenne']">
					<tr>
						<td>{{p.nom}}</td>
						<td>{{p.points}}</td>
						<td>{{p.gagne}}</td>
						<td>{{p.perdu}}</td>
						<td>{{p.nul}}</td>
						<td>{{p.butsMarques}}</td>
						<td>{{p.butsEncaisses}}</td>
						<td>{{p.butsMoyenne}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="fifa-cup-results">
		<div class="col-xs-6 col-sm-3" ng-repeat="s in scores">
			<div class="col-xs-12 fifaCup-score" ng-class="{'bg-color-white': !s.update, 'bg-color-green': s.update}">
				<div class="text-overEllipsis" ng-class="{'col-xs-5': !s.update, 'col-xs-4': s.update}">{{s.j1.nom}}</div>
				<div class="col-xs-4 text-overEllipsis" ng-show="s.update">{{' ' + s.butJ1 + ' - ' + s.butJ2 + ' '}}</div>
				<div class="col-xs-2 text-overEllipsis" ng-show="!s.update">{{'?'}}</div>
				<div class="text-overEllipsis" ng-class="{'col-xs-5': !s.update, 'col-xs-4': s.update}">{{s.j2.nom}}</div>
			</div>
		</div>
	</div>
</div>
