<div class="col-xs-12 fond-fifa slide" skrollr resize>
	<div class="col-xs-5 add-player-css margin-bottom10">
		<form class="form-inline">
			<div class="form-group">
				<label class="color-white" for="exampleInputName2">Ajouter un joueur</label> 
				<input type="text" class="form-control" id="exampleInputName2" placeholder="Messi" ng-model="newPlayer">
			</div>
			<button type="submit" class="btn btn-default" ng-click="addPlayer()">Ajouter</button>
		</form>
	</div>
	<div class="col-xs-7 margin-top15 margin-bottom5">
		<div class="panel panel-default col-xs-12 fond-pelouse">
			<div class="col-xs-12 text-center margin-top10 margin-bottom10">
				<ui-select class="col-xs-4" ng-model="newScore.j1" theme="bootstrap" reset-search-input="false">
					<ui-select-match placeholder="{{playerPlaceholder}} 1" allow-clear="true">
						{{$select.selected.nom}}
						<div ng-if="!$select.selected.nom">{{playerPlaceholder + ' 1'}}</div>
					</ui-select-match>
					<ui-select-choices repeat="p in playersCandidates1">{{p.nom}}</ui-select-choices>
				</ui-select>
				<ui-select class="col-xs-4" ng-model="newScore.j2" theme="bootstrap" reset-search-input="false">
					<ui-select-match placeholder="{{playerPlaceholder}} 2" allow-clear="true">
						{{$select.selected.nom}}
						<div ng-if="!$select.selected.nom">{{playerPlaceholder + ' 2'}}</div>
					</ui-select-match>
					<ui-select-choices repeat="p in playersCandidates2">{{p.nom}}</ui-select-choices>
				</ui-select>
				<label>Score</label> 
				<input type="number" class="form-control width-10percent display-inline-block" ng-model="newScore.butJ1">
				<label>-</label> 
				<input type="number" class="form-control width-10percent display-inline-block" ng-model="newScore.butJ2">
			</div>
			<div class="col-xs-12 text-right margin-top10 margin-bottom10">		
				<button type="submit" class="btn btn-default col-xs-2 pull-right" ng-click="saveScore()">Ajouter</button>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="panel panel-warning">
			<!-- Default panel contents -->
			<div class="panel-heading">Tableau des scores</div>
	
			<!-- Table -->
			<table class="table">
				<thead>
					<tr>
						<th style="width: 30;">Nom</th>
						<th style="width: 10;">Gagné</th>
						<th style="width: 10;">Perdu</th>
						<th style="width: 10;">Nul</th>
						<th style="width: 10;">Points</th>
						<th style="width: 5;">p.</th>
						<th style="width: 5;">c.</th>
						<th style="width: 5;">Diff.</th>
					</tr>
				</thead>
				<tbody ng-repeat="p in players">
					<tr>
						<td>{{p.nom}}</td>
						<td>{{p.gagne}}</td>
						<td>{{p.perdu}}</td>
						<td>{{p.nul}}</td>
						<td>{{p.points}}</td>
						<td>{{p.butsMarques}}</td>
						<td>{{p.butsEncaisses}}</td>
						<td>{{p.butsMoyenne}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-xs-12 color-white">
		<div ng-repeat="s in scores">{{'(' + s.j1.nom + ' ' + s.butJ1 + ' - ' + s.butJ2 + ' ' + s.j2.nom + ')' + ' - '}}</div>
	</div>
</div>
