<div id="founders" class="slide" skrollr>

	<div class="vimeo-modal">
		<div class="overlay" on-tap="closeVideo()"
			style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
		<div class="player">
			<a class="fa fa-times-circle web-only" on-tap="closeVideo()"
				style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a>
		</div>
	</div>


	<div class="video">
		<h1 class="mobile-only">Meet the Founders</h1>
		<img class="" src="img/web_site_img/video.jpg">
		<div class="video-overlay skrollable skrollable-before"
			data-bottom-top="opacity:1;" data--100-top-top="opacity:0.7"
			data-100-top-top="opacity:0.7" data-top-bottom="opacity[swing]:0.9;"
			style="opacity: 1;"></div>
		<div class="video-overlay-content skrollable skrollable-before"
			data-anchor-target="#founders img" data-bottom-top="opacity:0;"
			data--110-top-top="opacity:1" data-100-top-top="opacity:1"
			data-top-bottom="opacity:0.2;" style="opacity: 0;">
			<h1 class="web-only">Meet the Founders</h1>
			<div class="play-background" onclick="playVideo()">
				<div class="play-button"></div>
			</div>
		</div>
	</div>
</div>
<!-- /#founders -->