<div in-view-container skrollr id="founders" class="slide color-white bg-color-founder"  style="min-height: 610px;" skrollr resize>
	<h1 class="title">Quelques compétences</h1>
	<div class="clearfix"></div>
	<div class="description col-md-12">
		<h5>{{chartsIntro}}<a ui-sref='skills'>cliquer ici</a>.</h5>
	</div>
	<div class="clearfix"></div>
	<div class="pie-wrapper color-white" style="margin: 50px 0 10px;">
		<div class="pie-column col-md-3" ng-repeat="ch in charts">
			<span class="percent-chart">{{ch.value}}</span>
			<canvas
				options="{animationEasing:'easeOutBounce', animationSteps:'100', segmentStrokeColor:'#313132', segmentStrokeWidth : '0', percentageInnerCutout : '85'}"
				id="doughnut" class="chart chart-doughnut" colours="ch.colours"
				labels="ch.labels" data="ch.data"></canvas>
			<div class="pie-content color-white">
				<h2>{{ch.title}}</h2>
			</div>
		</div>
	</div>
</div>
<div in-view="$inview&&setActiveMenu('founders')"></div>