<div in-view-container id="work" class="slide" resize>
	<h1>
		{{menu[3].title}}
	</h1>
	<div class="project-bar">
		<div ng-class="{active:isActiveProject(0)}" class="dot work-style" hm-tap="jumpToProject(0)"></div>
		<div ng-class="{active:isActiveProject(1)}" class="dot work-style" hm-tap="jumpToProject(1)"></div>
		<div ng-class="{active:isActiveProject(2)}" class="dot work-style" hm-tap="jumpToProject(2)"></div>
	</div>

	<div class="buttons">
		<a class="left fa fa-angle-left work-style" hm-tap="projectLeft()"></a>
		<a class="right fa fa-angle-right work-style" hm-tap="projectRight()"></a>
	</div>

	<div class="container" ng-class="{'projects-web':(windowWidth>=900),'projects-mobile':(windowWidth<900)}">
		<div ng-class="projects[0].css" class="work-slide" ng-include src="'views/home/parts/projects/sopra-project.html'"></div>
		<div ng-class="projects[1].css" class="work-slide" ng-include src="'views/home/parts/projects/dip-project.html'"></div>
		<div ng-class="projects[2].css" class="work-slide" ng-include src="'views/home/parts/projects/surf-project.html'"></div>
	</div>
</div>
<div in-view="$inview&&setActiveMenu('work')"></div>