<div in-view-container skrollr id="process" class="slide">
	<img class="process-img web-only" src="img/web_site_img/mountain.jpg">
	<img class="process-img mobile-only" src="img/web_site_img/mountain_mobile.jpg">

	<div class="slide-wrapper">
		<h1>{{menu[2].title}}</h1>

		<div class="timeline-wrapper">
			<a class="tick conceptualize"
				ng-class="{active:isActiveSchoolPart(0)}"
				hm-tap="setActiveSchoolPart(0)"
				style="touch-action: pan-y; 
				-webkit-user-select: none; 
				-webkit-user-drag: none; 
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">{{career[0].label}}</div>
			</a>

			<div class="line"></div>
			<span></span> <a class="tick design"
				ng-class="{active:isActiveSchoolPart(1)}"
				hm-tap="setActiveSchoolPart(1)"
				style="touch-action: pan-y; 
				-webkit-user-select: none; 
				-webkit-user-drag: none; 
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">{{career[1].label}}</div>
			</a>

			<div class="line"></div>
			<span></span> <a class="tick code"
				ng-class="{active:isActiveSchoolPart(2)}"
				hm-tap="setActiveSchoolPart(2)"
				style="touch-action: pan-y; 
				-webkit-user-select: none; 
				-webkit-user-drag: none; 
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">{{career[2].label}}</div>
			</a>

			<div class="line"></div>
			<span></span> <a class="tick review"
				ng-class="{active:isActiveSchoolPart(3)}"
				hm-tap="setActiveSchoolPart(3)"
				style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">{{career[3].label}}</div>
			</a>

			<div class="line"></div>
			<span></span> <a class="tick review"
				ng-class="{active:isActiveSchoolPart(4)}"
				hm-tap="setActiveSchoolPart(4)"
				style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">{{career[4].label}}</div>
			</a>

			<div class="line"></div>
			<span></span> <a class="tick launch"
				ng-class="{active:isActiveSchoolPart(5)}"
				hm-tap="setActiveSchoolPart(5)"
				style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">{{career[5].label}}</div>
			</a>
		</div>


		<div ng-repeat="c in career" class="explanation" ng-class="c.textcss">
			{{c.text}}
			<br><a ng-if="c.url != ''" ui-sref="{{c.url}}">en savoir plus...</a>
		</div>
	</div>
</div>
<div in-view="$inview&&setActiveMenu('process')"></div>