<div in-view-container skrollr id="contact" class="slide">
	<h1>Contact</h1>
	<div class="wrapper">
		<div class="left">
			<form>
				<label>Name:</label> 
				<input type="text" placeholder="Name" value="" class="name">
				<label>Email:</label>
				<input type="text" placeholder="Email" value="" class="email">
				<label>Message:</label>
				<textarea placeholder="Message" class="message"></textarea>
				<input class="send" type="submit" value="Send" on-tap="sendEmail()"
					style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
			</form>
			<div class="response"></div>
		</div>
		<div class="right">
			<img class="" src="img/web_site_img/location.jpg" height:=""
				200px;="">
		</div>
	</div>
</div>
<div in-view="$inview&&setActiveMenu('contact')"></div>