<div in-view-container id="faq" class="slide" skrollr>
	<h1>{{menu[4].title}}</h1>
	<div class="dot-bar">
		<div class="dot active" on-tap="faqJumpTo(0)"
			style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
		<div class="dot" on-tap="faqJumpTo(1)"
			style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
	</div>

	<div class="buttons">
		<a class="left fa fa-angle-left" on-tap="faqLeft()"
			style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a>
		<a class="right fa fa-angle-right" on-tap="faqRight()"
			style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a>
	</div>

	<div class="slideshow" style="height: 373px;">
		<div class="faq-slide">
			<div class="left">

				<div class="faq">
					<h2>ben343, quelles technologies utilises-tu ?</h2>
					<p>At Uhray, we're not just programmers. To build the best
						possible products, we work collaboratively and strategically with
						our clients throughout every step of the process. We bring years
						of technical experience to the table and love engaging with
						entrepreneurs from all backgrounds.</p>
				</div>

				<div class="faq">
					<h2>Raconte nous en plus ?</h2>
					<p>Most projects take 2-3 months.</p>
				</div>

				<div class="faq payment">
					<h2>Mais t'es motard ?</h2>
					<p>
						Exact pricing for wireframing, app design, and app development
						depends on the overall scope and your specific requirements. In
						the past, we have worked on projects for cash, equity, a
						percentage of revenue, or a combination thereof. <a
							href="#contact">Contact us</a> to discuss an option that best
						suits you.
					</p>
				</div>
			</div>


			<div class="right goRight">
				<div class="faq">
					<h2>Quel type de développeur es-tu ?</h2>
					<p>In the past, we have developed websites, web apps, mobile
						apps, desktop apps, APIs, and many other things. We're passionate
						about finding the right software solutions for each idea.</p>
				</div>

				<div class="faq">
					<h2>La réunion ne te manque pas ?</h2>
					<p>We provide 30 days of free bug support. Your app will also
						come with an analytics dashboard, allowing you to understand your
						app's user behavior in realtime. After launch, you will have the
						insights you need to take an informed next step, whether that's
						seeking capital investment, finding a tech co-founder, hiring
						full-time developers, or discussing a second iteration with us.</p>
				</div>
			</div>
		</div>
		<!-- /slide1 -->


		<div class="faq-slide goLeft">
			<div class="faq left goRight other-options">
				<h2>Pourrais-tu m'aider ?</h2>
				<p>
					<b>Freelancers:</b> While inexpensive, this strategy requires you
					to act as the CTO while managing isolated freelancers. This is very
					difficult to do well. <span class="divider"></span> <b>Technical
						Co-Founder or CTO:</b> Finding a trustworthy and capable technical
					co-founder or CTO is a great idea, but they are difficult to find
					and very expensive to bring on board. <span class="divider"></span>
					<b>Outsourced Development:</b> This can be the cheapest option per
					line-of-code, but it's often a communication and managerial
					nightmare. We've seen many outsourced projects wind up just 70%
					complete with a poor user experience. The effectiveness of the
					product can suffer and valuable resources are often wasted. <span
						class="divider"></span> <b>Large Development Firms:</b> These
					larger development firms typically complete projects for the
					Fortune 500, so you can expect costs to be several hundred thousand
					dollars. If you have the funds, this is a feasible alternative, but
					we think working with Uhray could save you A LOT of time and money.

				</p>
			</div>

			<div class="right goRight">
				<div class="faq">
					<h2>Quelles méthodes utilises-tu ?</h2>
					<p>
						Node.js with express.js <br> MongoDB with Mongoose <br>
						REST API <br> HTML, CSS, JavaScript <br> PhoneGap,
						Cordova<br> Git, GitHub<br>
					</p>
					<p class="extra">We also create and leverage many code
						libraries to improve the efficiency of our development workflow.
						To name a few: Ractive.js, Mustache, Sass, NPM, Bower,
						Autoprefixer, etc.</p>
					<p></p>
				</div>

				<div class="faq agile">
					<h2>Critiques ou réparties ?</h2>
					<p>
						Some stages of our client delivery process, like wireframing and
						app design, closely parallel <a
							href="http://en.wikipedia.org/wiki/Agile_software_development"
							target="_blank">agile development principles</a>. However, less
						tangible stages, like backend development, are more efficient
						without agile development. Ultimately, we save our clients time,
						money, and energy by using the right process at the right time.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div in-view="$inview&&setActiveMenu('faq')"></div>