
<div id="work" class="slide" skrollr>
	<h1>
		<span class="web-only">Recent Work</span>
	</h1>
	<div class="project-bar">
		<div class="dot active" hm-tap="workJumpTo(0)"
			style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
		<div class="dot" hm-tap="workJumpTo(1)"
			style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
		<div class="dot" hm-tap="workJumpTo(2)"
			style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
	</div>

	<div class="buttons">
		<a class="left fa fa-angle-left" hm-tap="workLeft()"
			style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a>
		<a class="right fa fa-angle-right" hm-tap="workRight()"
			style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a>
	</div>

	<div class="container" style="height: 430px;">
		<div class="work-slide">
			<img class="" src="img/web_site_img/work1.jpg">

			<div class="quotes">
				<div class="quote skrollable skrollable-before"
					data-bottom-top="opacity[swing]:0;transform[swing]:translate(100px, 0%)"
					data-bottom="opacity[swing]:1;transform[swing]:translate(0px, 0%)"
					style="opacity: 0; -webkit-transform: translate(100px, 0%); transform: translate(100px, 0%);">
					<p>
						"I demoed the platform for the board yesterday to rave reviews.
						I've been impressed with the speed and stability of the site." <i
							class="fa fa-caret-down"></i>
					</p>
					<div class="clearfix"></div>
					<img class="" src="img/web_site_img/headshot1_top.jpg">
					<div class="titles">
						<h3>Bob Myhal</h3>
						<h4>President &amp; COO, NextHire</h4>
					</div>
				</div>

				<div class="quote skrollable skrollable-before"
					data-bottom-top="opacity[swing]:0;transform[swing]:translate(100px, 0%)"
					data-bottom="opacity[swing]:1;transform[swing]:translate(0px, 0%)"
					style="opacity: 0; -webkit-transform: translate(100px, 0%); transform: translate(100px, 0%);">
					<p>
						"This is amazing! It looks so beautiful, I love it! ... Clients
						are going to love this, wait till the clients see this platform.
						Incredible!" <i class="fa fa-caret-down"></i>
					</p>
					<div class="clearfix"></div>
					<img class="" src="img/web_site_img/headshot1_bottom.jpg">
					<div class="titles">
						<h3>Julie Kidd</h3>
						<h4>Account Manager, NextHire</h4>
					</div>
				</div>
			</div>
			<!-- /.quotes -->
		</div>
		<!-- /work-slide 1  ... nexthire -->

		<div class="work-slide goRight">
			<img class="" src="img/web_site_img/work2.jpg">

			<div class="quotes small-top-padding">
				<div class="quote long skrollable skrollable-before"
					data-bottom-top="opacity[swing]:0;transform[swing]:translate(100px, 0%)"
					data-bottom="opacity[swing]:1;transform[swing]:translate(0px, 0%)"
					style="opacity: 0; -webkit-transform: translate(100px, 0%); transform: translate(100px, 0%);">
					<p>
						"The guys at Uhray were instrumental at helping Aunalytics design,
						develop, and drive our data science platform through the Minimum
						Viable Product stage. The software development support and
						leadership we received from Nick and Bobby helped us move closer
						to building an advanced data analysis platform for middle-market
						companies. Today our platform is being used throughout the country
						and the gentlemen at Uhray are a major part of it." <i
							class="fa fa-caret-down"></i>
					</p>
					<div class="clearfix"></div>
					<img class="" src="img/web_site_img/headshot2_top.jpg">
					<div class="titles">
						<h3>Tracy Graham</h3>
						<h4>CEO, Aunalytics</h4>
					</div>
				</div>

				<div class="quote long skrollable skrollable-before"
					data-bottom-top="opacity[swing]:0;transform[swing]:translate(100px, 0%)"
					data-bottom="opacity[swing]:1;transform[swing]:translate(0px, 0%)"
					style="opacity: 0; -webkit-transform: translate(100px, 0%); transform: translate(100px, 0%);">
					<p>
						"Nick and Bobby were among the initial employees at Aunalytics and
						helped build the first version of our data science platform --
						Aunsight. I was very impressed by the ability to think through the
						problem, work as a team, and more importantly deliver. They have
						solid design thinking as well as development skills, and are able
						to see the long-term vision." <i class="fa fa-caret-down"></i>
					</p>
					<div class="clearfix"></div>
					<img class="" src="img/web_site_img/headshot2_bottom.jpg">
					<div class="titles multiple">
						<h3>Nitesh Chawla, PhD.</h3>
						<h4>Founder, Aunalytics</h4>
						<h4>Associate Professor, Notre Dame</h4>
					</div>
				</div>
			</div>
			<!-- /quotes -->

		</div>
		<!-- /work-slide 2 ... aunalytics -->

		<div class="work-slide goRight">
			<img class="" src="img/web_site_img/work3.jpg">

			<div class="quotes">

				<div class="quote skrollable skrollable-before"
					data-bottom-top="opacity[swing]:0;transform[swing]:translate(100px, 0%)"
					data-bottom="opacity[swing]:1;transform[swing]:translate(0px, 0%)"
					style="opacity: 0; -webkit-transform: translate(100px, 0%); transform: translate(100px, 0%);">
					<p>
						"Love how easy the site works, selling and buying. Aisle0 has
						definitely given a new feel to online exchanges." <i
							class="fa fa-caret-down"></i>
					</p>
					<div class="clearfix"></div>
					<img class="" src="img/web_site_img/headshot3_top.jpg">
					<div class="titles">
						<h3>Jon Brown</h3>
						<h4>Student, UNH</h4>
					</div>
				</div>

				<div class="quote skrollable skrollable-before"
					data-bottom-top="opacity[swing]:0;transform[swing]:translate(100px, 0%)"
					data-bottom="opacity[swing]:1;transform[swing]:translate(0px, 0%)"
					style="opacity: 0; -webkit-transform: translate(100px, 0%); transform: translate(100px, 0%);">
					<p>
						"Aisle0 is an amazing new innovation for students at UNH. I love
						this site. It gives me a place to buy and sell items with ease." <i
							class="fa fa-caret-down"></i>
					</p>
					<div class="clearfix"></div>
					<img class="" src="img/web_site_img/headshot3_bottom.jpg">
					<div class="titles">
						<h3>David Pattison</h3>
						<h4>Student, UNH</h4>
					</div>
				</div>

			</div>
			<!-- /quotes -->

		</div>
		<!-- /work-slide 3 ... aisle0 -->

	</div>
</div>
<!-- #/work -->