<div id="process" class="slide">
	<img class="process-img web-only" src="img/web_site_img/mountain.jpg">
	<img class="process-img mobile-only" src="img/web_site_img/mountain_mobile.jpg">

	<div class="slide-wrapper">
		<h1>Parcours scolaire</h1>

		<div class="timeline-wrapper">
			<a class="tick conceptualize"
				ng-class="{active:isActiveSchoolPart(0)}"
				hm-tap="setActiveSchoolPart(0)"
				style="touch-action: pan-y; 
				-webkit-user-select: none; 
				-webkit-user-drag: none; 
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">Lycée</div>
			</a>

			<div class="line"></div>
			<span></span> <a class="tick design"
				ng-class="{active:isActiveSchoolPart(1)}"
				hm-tap="setActiveSchoolPart(1)"
				style="touch-action: pan-y; 
				-webkit-user-select: none; 
				-webkit-user-drag: none; 
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">Licence</div>
			</a>

			<div class="line"></div>
			<span></span> <a class="tick code"
				ng-class="{active:isActiveSchoolPart(2)}"
				hm-tap="setActiveSchoolPart(2)"
				style="touch-action: pan-y; 
				-webkit-user-select: none; 
				-webkit-user-drag: none; 
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">Master</div>
			</a>

			<div class="line"></div>
			<span></span> <a class="tick review"
				ng-class="{active:isActiveSchoolPart(3)}"
				hm-tap="setActiveSchoolPart(3)"
				style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">Projet Web</div>
			</a>

			<div class="line"></div>
			<span></span> <a class="tick review"
				ng-class="{active:isActiveSchoolPart(4)}"
				hm-tap="setActiveSchoolPart(4)"
				style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">Projet mobile</div>
			</a>

			<div class="line"></div>
			<span></span> <a class="tick launch"
				ng-class="{active:isActiveSchoolPart(5)}"
				hm-tap="setActiveSchoolPart(5)"
				style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<div class="core"></div>
				<div class="circle1"></div>
				<div class="label">Stage</div>
			</a>
		</div>
		<!-- /.timeline-wrapper -->


		<div class="explanation" ng-class="schools[0].textcss">We define all aspects of the software
			product necessary to test your idea: value hypothesis, feature set,
			data, customers, end-users, barriers to entry, etc.</div>
		<div class="explanation" ng-class="schools[1].textcss">We collaborate over interactive
			sketches of the application's flow, content, and structure to create
			an intuitive and engaging user experience.</div>
		<div class="explanation" ng-class="schools[2].textcss">We iterate through
			professionally designed mockups to define the overall look and feel
			of the application: color palette, fonts, animations, positioning,
			spacing, etc.</div>
		<div class="explanation" ng-class="schools[3].textcss">We code all front-end and
			back-end needs for your application to create a reliable and
			efficient product that captures your vision.</div>
		<div class="explanation" ng-class="schools[4].textcss">We test all core features to
			ensure everything is working properly, considering edge cases,
			browser compatibility, and stylistic elements that impact the user
			experience.</div>
		<div class="explanation" ng-class="schools[5].textcss">We launch the application with
			30 days of free support. Your app will be accompanied by an analytics
			dashboard to ensure you understand your user behavior in real time.</div>

	</div>
</div>
<!-- /#process -->