<div in-view-container skrollr id="contact" class="slide">
	<div in-view="$inview&&setActiveMenu('contact')"></div>
	<h1>Contact</h1>
	<div class="wrapper">
		<div class="left">
			<form name="messageForm">
				<label>Nom:</label> 
				<input type="text" placeholder="Nom" ng-required="true" class="name" ng-model="message.name" ng-minlength="3">
				<label>Email:</label>
				<input type="email" placeholder="Email" ng-required="true" class="email" ng-model="message.email" ng-minlength="6">
				<label>Message:</label>
				<textarea placeholder="Message" class="message" ng-required="true" ng-model="message.content" ng-minlength="20"></textarea>
				<input class="send work-style" type="submit" ng-class="{'bg-grey': !messageForm.$valid}"
					   value="Envoyer" hm-tap="sendEmail()" ng-disabled="!messageForm.$valid">
			</form>
			<div class="response"></div>
		</div>
		<div class="right">
 			 <map center="-21.1306888, 55.5264794"
 			 	  disable-default-u-i="true"
 			 	  zoom="10"
 				  min-zoom="8"
 				  style="height:400px;margin-top:60px;"
 				  styles="[{stylers:[{visibility:'simplified'}]},{elementType:'labels',stylers:[{visibility:'off'}]},{featureType:'water'}]"
 				  map-type-id="TERRAIN">
 			 	<marker position="-21.258986, 55.432126" title="Ma kaz!"></marker>
 			 	<shape name="rectangle" id="foo" stroke-color="#FF0000" stroke-opacity="0.8" 
 			 		   stroke-weight="2" fill-color="#FF0000" fill-opacity="0.35">
       			 </shape>
 			 </map>
		</div>
	</div>
</div>