<div skrollr id="hero" class="slide">
	<div in-view="$inview&&setActiveMenu('')"></div>
	<img class="logo" src="img/web_site_img/logo_transparent_medium.png">
	<div class="text skrollable skrollable-between"
		data-0="opacity:1;transform:scale(1.0)"
		data-top-bottom="opacity:0.2;transform:scale(0.8)"
		style="opacity: 1; -webkit-transform: scale(1); transform: scale(1);">

		<h1>
			{{title.name}}<br>{{title.job}}
		</h1>
		<div class="hr"></div>
		<h2>
			{{title.accroche}}
		</h2>
	</div>

	<img class="rocket skrollable skrollable-between"
		data-0="transform: perspective(10px) translate3d(0%, 0%, 0px);"
		data-top-center="transform: perspective(10px) translate3d(0.8%, -20%, -5.75px);"
		style="-webkit-transform: perspective(10px) translate3d(0%, 0%, 0px); transform: perspective(10px) translate3d(0%, 0%, 0px);"
		src="img/web_site_img/rocket.jpg">
</div>