<div in-view-container id="faq" class="slide web-only" skrollr resize>
	<div in-view="$inview&&setActiveMenu('faq')"></div>
	<h1 class="web-only">{{menu[4].title}}</h1>
	<h1 class="mobile-only">Non dispo sur mobile</h1>
	<div class="dot-bar">
		<div ng-class="{active:isActiveFaq(0)}" class="dot work-style" hm-tap="jumpToFaq(0)"></div>
		<div ng-class="{active:isActiveFaq(1)}" class="dot work-style" hm-tap="jumpToFaq(1)"></div>
	</div>

	<div class="buttons">
		<a class="left fa fa-angle-left work-style" hm-tap="faqLeft()"></a>
		<a class="right fa fa-angle-right work-style" hm-tap="faqRight()"></a>
	</div>

	<div class="slideshow" style="min-height: 373px;">
		<div ng-class="questions[0].css" class="faq-slide">
			<div class="left">
				<div class="faq">
					<h2>{{questions[0].content[0].title}}</h2>
					<p ng-bind-html="questions[0].content[0].text"></p>
				</div>
				<div class="faq">
					<h2>{{questions[0].content[1].title}}</h2>
					<p ng-bind-html="questions[0].content[1].text"></p>
				</div>
				<div class="faq payment">
					<h2>{{questions[0].content[2].title}}</h2>
					<p ng-bind-html="questions[0].content[2].text"></p>
				</div>
			</div>
			<div class="right goRight">
				<div class="faq">
					<h2>{{questions[0].content[3].title}}</h2>
					<p ng-bind-html="questions[0].content[3].text"></p>
				</div>

				<div class="faq">
					<h2>{{questions[0].content[4].title}}</h2>
					<p ng-bind-html="questions[0].content[4].text"></p>
				</div>
			</div>
		</div>

		<div ng-class="questions[1].css" class="faq-slide">
			<div class="faq left goRight other-options">
				<h2>{{questions[1].content[0].title}}</h2>
				<p ng-bind-html="questions[1].content[0].text"></p>
			</div>

			<div class="faq agile">
				<h2>{{questions[1].content[1].title}}</h2>
				<p ng-bind-html="questions[1].content[1].text"></p>
			</div>

			<div class="right goRight">
				<div class="faq">
					<h2>{{questions[1].content[2].title}}</h2>
					<p ng-bind-html="questions[1].content[2].text"></p>
				</div>
			</div>
		</div>
	</div>
</div>