<div ng-include src="'views/templates/returnNav.html'"></div>
<div id="col-xs-12">
	<div class="col-xs-12">
		<h2 class="text-center">
			{{privacy.title}} <strong>www.ben343.fr</strong>
		</h2>
		<p class="font-size-12 margin-topm10 text-center">{{privacy.subTitle}}</p>
		<h3>{{privacy.intro}}</h3>

		<div class="col-xs-12 col-sm-8">
			<div class="col-xs-12 col-sm-6" ng-repeat=" p in privacy.data">
				<h4><i class="fa fa-circle font-size-11"></i>&nbsp;&nbsp;{{p.title}}</h4>
				<p ng-if="!!p.content">{{p.content}}</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 panel panel-default">
			<div class="col-xs-12 panel-heading">
				<h2>{{coordinate.title}}</h2>
			</div>
			<div class="col-xs-12 panel-body">
				<h3>{{coordinate.property}}</h3>
				<p>{{coordinate.address}}</p>
				<p>{{lastUpdate}}</p>
				<a href="//www.iubenda.com/privacy-policy/180421/legal"
					title="Montrer la politique de confidentialité en entier" class="">
					{{goFuther}} </a>
			</div>
		</div>
	</div>
</div>
