<div class="parent-page" skrollr style="height:300% !important;">
<div ng-include src="'views/templates/returnNav.html'"></div>
<div class="parallax-image-wrapper parallax-image-wrapper-100"
	data-anchor-target="#dragons + .gap"
	data-bottom-top="transform:translate3d(0px, 200%, 0px)"
	data-top-bottom="transform:translate3d(0px, 0%, 0px)">

	<div class="parallax-image parallax-image-100 resume-img1"
		data-anchor-target="#dragons + .gap"
		data-bottom-top="transform: translate3d(0px, -80%, 0px);"
		data-top-bottom="transform: translate3d(0px, 80%, 0px);"></div>
	<!--the +/-80% translation can be adjusted to control the speed difference of the image-->
</div>

<div class="parallax-image-wrapper parallax-image-wrapper-100"
	data-anchor-target="#bacons + .gap"
	data-bottom-top="transform:translate3d(0px, 200%, 0px)"
	data-top-bottom="transform:translate3d(0px, 0%, 0px)">

	<div class="parallax-image parallax-image-100 resume-img2"
		data-anchor-target="#bacons + .gap"
		data-bottom-top="transform: translate3d(0px, -80%, 0px);"
		data-top-bottom="transform: translate3d(0px, 80%, 0px);"></div>
</div>

<div id="skrollr-body">
	<div class="header" id="dragons">{{subtitle}}</div>
	<div class="gap gap-100 resume-img1"></div>
	<div class="content text-justify font-size-18" id="bacons">
		<p>{{presentation}}</p>
	</div>
	<div class="gap gap-100 resume-img2"></div>
	<div class="content" id="kittens">
		<p class="text-justify font-size-18">{{siteInfo}}</p>
		<ul class="list-unstyled" ng-repeat="p in points">
			<li>- {{p}}</li>
		</ul>
		<br>
		<p class="text-justify font-size-2">{{infoImg}} <a ui-sref='todo'>Ma petite galerie de photos</a></p>
		
	</div>
</div>
</div> 