<div id="header" data-30p="height:90px;"
	data-90p="height:45px; background-color:rgba(0,0,0,0);"
	data-95p="background-color:rgba(0,0,0,1);">
	<a class="logo"> 
		<img class="skrollable skrollable-before"
		data-30p="padding:17px 0;"
		data-90p-start="padding:10px 0;"
		style="padding: 17px 0px;"
		src="img/web_site_img/logo_transparent_medium.png"
		ng-click="goTop()">
	</a>`
	<nav>
		<span ng-repeat="m in menu"> 
			<a class="" ng-class="{{'m.css'}}" ng-click="goToAnchor({{m.id}})">
					{{m.title}}
			</a>
		</span>
	</nav>
</div>

<div id="body" in-view-container>

	<div in-view="$inview&&setActiveMenu('')" ng-include src="'views/home/parts/title.html'"></div>

	<div in-view="$inview&&setActiveMenu('services')" ng-include src="'views/home/parts/presentation.html'"></div>

	<div in-view="$inview&&setActiveMenu('founders')" ng-include src="'views/home/parts/divers.html'"></div>

	<div in-view="$inview&&setActiveMenu('process')" ng-include src="'views/home/parts/university.html'"></div>

	<div in-view="$inview&&setActiveMenu('work')" ng-include src="'views/home/parts/professionnal.html'"></div>

	<div in-view="$inview&&setActiveMenu('faq')" ng-include src="'views/home/parts/faq.html'"></div>

	<div in-view="$inview&&setActiveMenu('contact')" ng-include src="'views/home/parts/contact.html'"></div>

	<div id="footer">
		<div class="wrapper">
			<div class="column1">
				<a ng-click="goToAnchor(0)">SERVICES</a><br>
				<a ng-click="goToAnchor(1)">MEET THE FOUNDERS</a><br>
				<a ng-click="goToAnchor(2)">WORK</a><br>
				<a ng-click="goToAnchor(3)">PROCESS</a><br>
			</div>
			<div class="column2">
				<a ng-click="goToAnchor(4)">FAQ</a><br>
				<a ng-click="goToAnchor(5)">CONTACT</a><br>
				<!--<a href="#blog">BLOG</a><br >-->
			</div>
			<div class="media">
				<a class="fa fa-github" href="http://www.github.com/BenJ-343" target="blank"></a>
				<a class="fa fa-linkedin" href="https://www.linkedin.com/company/BenjaminBrion" target="blank"></a>
			</div>
		</div>
		<p class="copyright">
			Ben343 © 2015 &nbsp; | &nbsp; <a href="mailto:bubblespirit343@gmail.com">benjamin@ben343.fr</a>
		</p>

	</div>
	<!-- /#footer -->
</div>

