<div ng-include src="'views/templates/navigation.html'"></div>
<div class="carousel content-full col-xs-12 col-sm-12 noMargin" resize>
	<ul rn-carousel rn-carousel-duration="800" rn-carousel-controls rn-carousel-transition="zoom"
		 class="image col-xs-12 col-sm-12 noMargin">
		<li ng-repeat="slide in carouselItems">
			<img class="col-xs-12 col-sm-12 noMargin opacity-carousel" ng-src="{{slide.src}}">
			<div class="navigation-info">
				<span class="fa fa-calendar-o">&nbsp;&nbsp;{{slide.date}}</span>
			</div>
			<div class="navigation-camera">
				<span class="fa fa-camera">&nbsp;&nbsp;{{slide.title}}</span>
			</div>
		</li>
	</ul>
</div>