<div ng-include src="'views/templates/returnNav.html'"></div>
<div class="glyphicon glyphicon-download"></div>
<div class="parent-page experience-content" skrollr>
	<div class="experience-div" style="background-color: white;"
		data-0="transform:translate(0,0%);"
		data-100p="transform:translate(0,-400%);">
		<div ng-include src="'views/cv/jobs/apsideSopra.html'"></div>
	</div>
	<div class="experience-div"
		style="background-color: rgb(107, 103, 124);"
		data-0="transform:translate(0,100%);"
		data-100p="transform:translate(0,-300%);">
		<div ng-include src="'views/cv/jobs/apsideDip.html'"></div>
	</div>
	<div class="experience-div"
		style="background-color: rgb(216, 218, 221);"
		data-0="transform:translate(0,200%);"
		data-100p="transform:translate(0,-200%);">
		<div ng-include src="'views/cv/jobs/thales.html'"></div>
	</div>
	<div class="experience-div"
		style="background-color: rgb(123, 102, 148);"
		data-0="transform:translate(0,300%);"
		data-100p="transform:translate(0, -100%);">
		<div ng-include src="'views/cv/jobs/orange.html'"></div>
	</div>
	<div class="experience-div" 
		style="background-color: rgb(169, 211, 158);"
		data-0="transform:translate(0,400%);"
		data-100p="transform:translate(0, 0%);">
		<div ng-include src="'views/cv/jobs/divers.html'"></div>
	</div>
</div>